@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
}

body {
    min-height: 100vh;
    background-color:#e3f8ee !important;
    /*background-image: linear-gradient(rgba(51, 59, 38, 0.6), rgba(66, 42, 42, 0.6)), url(backimage.jpg);*/
    background-size: contain; /* Image will fit within the container */
    background-position: center;
    background-repeat: no-repeat;
}

span{
    color:#f2ea09 !important;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.5rem
}

section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(0,0,0,0.4);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}
.hero{
    height: 30vh;
    width: 100%;; 
    background-size: cover;
    background-position: center;
  }
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
     
  }
  nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 10px;
    padding-left: 2 px;
    padding-right: 2 px;
  }
  a,nav ul li a{
    color: darkgreen !important;
    text-decoration: none ;
    font-weight: bold;
  }

input[type="text"],
input[type="password"],
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

label{
  margin-top: 1rem;
}

button {
        border: none;
        background: #74e43c;
        padding: 12px 12px;
        border-radius: 50px !important;
        color: white;
        font-weight: bold;
        font-size: 15px;
        transition: .4s;
        width:200px;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
.services{
  display:flex;
  align-items: center;
  justify-content: space-between;
  border: 4px solid #fff;
  border-radius: 20px;
}
.servicedetails{
  width: 600px;
  margin-right: 20px;
  margin-left: 10px;
  padding: 20px;
}
img{
  border-radius: 15px;
  width:300px;
  height:auto;
  margin: auto 0;
}